.nowPlaying{
    min-height: 100vh;
    width: 90%;
    background-color: #0e1524;
    margin: auto;
}


.nowPlayingMovieCard{
    width: 100%;
    height: 100%;
    background-color: #0e1524;
    /* margin: auto; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    
}

  .movie{
    width: 300px;
    height: 450px;
    background-color: #0e1524;
    border: 2px solid rgb(255, 255, 255);
    color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: transform .2s;
}


.movie:hover {
  transform: scale(1.1); 
  /* background: linear-gradient(30deg, #fac2c2, #f6e0cf, #f6f5cb, #beefab, #d5faf4, #d0d7fb, #e3cefb, #fed0f4, #ffd7d7); */

  background: linear-gradient(30deg, #11294c, #0d015d, #231440 , #2d2c45, #16433b, #151d43, #311b4b, #411437, #491515);
 
  color: rgb(255, 253, 253);

}

.movieDescription{
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    width: 250px;

}

::-webkit-scrollbar {
    width: 3px;
  } 
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(45, 45, 47); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: blue;
  } 

.nowPlayingPagination{
    width: 90%;
    position: fixed;
    bottom: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* css for description coming in modal */
.descreptionMovieModal {
  padding: 20px;
}

